.affichagePics
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
   
}


.card
{
   
  color: var(--tc);
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: solid 2px #e8e8e9;
  width: fit-content;
  margin-left:5px;
  margin-right: 5px;
  max-width: 100%;
  height: auto;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.picStyle
{
	border-radius: 20px;
    width: 350px;
    height: 300px;
    
}

.textStyle
{
 
    padding: 3%;
    font-size: 20px ;
    border: solid 1px white;
    border-radius: 20px;
    margin: 2%;
    cursor: pointer;
    color: rgb(1, 129, 113) ;
    font: bold;
    &:hover 
    {
      border-color: rgb(1, 129, 113);
      color: rgb(1, 129, 113) ;
      
    } 
    
    
}

#animalImage
{
    margin:10%;
}

#status
{
    font-size: 20px;
    font: bold;
}

.listInfo
{
    max-width: fit-content;
    padding: 5%;
    font-size: 20px ;
    font: bold;
    color: white;
    border: solid 1px white;
    border-radius: 20px;
    background-color: #70D76A;

    
}

#QRCodePic
{
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 10%;
}

.QRCodeContainer
{
    border-radius: 20px;
    border: solid 2px #70D76A;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 10%;
    
    
}
.iconQR
{
    font-size: 20px;
    font: bold;
    text-align: center;

}

.regimeContainer
{
    color: var(--tc);
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: solid 2px #e8e8e9;
    width: 100%;
    margin-left:5px;
    margin-right: 5px;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;

}

.rechercheStyle
{
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
   
    
}

#rechercher
{
    border-radius: 20px;
    cursor:text !important;
}

#donationButton
{
    margin-left: 35%;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
    width: 50%;
    align-items: center ;
    justify-content: center;
    margin-bottom: 5%;
    margin-right: 23%;
    background-color: white;
    border-radius: 20px;
    border:solid 2px rgb(1, 129, 113);
    box-shadow: 0 5px 5px rgba(white, 0.2);
    
   
  
  }
   
  /* Add styles to the form container */
  .form-container {
    width:50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border:solid 2px rgb(1, 129, 113);
    box-shadow: 0 5px 5px rgba(white, 0.2);
    margin-top: 2%;
    margin-left: 30%;

  
  }

  .formCss {
    border: solid 1px #e8e8e9;
    width: 100%;
    background-color: transparent;
    margin: 10px 0;
    height: 40px;
    border-radius: 40px;
    padding: 0 0.2rem;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    &:hover 
    {
        border-color: rgb(1, 129, 113);
    }    
}

.formCss input {
    background: transparent;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1.7rem;
    color: rgb(1, 129, 113);
    padding-left: 2%;
  }



.errormsg
{
  text-align: center;
  color: red;
  font-size: small;
}

.thumb img{
    height:70px;
}